$font-size-sudoku: var(--font-size-sudoku);
$cell-min-size: var(--cell-min-size);
$cell-active-size: var(--cell-active-size);
$cell-padding: var(--cell-padding);
$cell-bkgc: var(--cell-bkgc);

.loading {
  width: 100%;
  height: 100%;
  background-color: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 400%;

  opacity: 1;
  transition: opacity 2s ease;
}

.open-close-container {
  border: 1px solid #dddddd;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}

.console {
  width: 25%;
  height: 100%;
  background-color: #f2f1efc7;
  position: absolute;
  padding: 12px;
  left: 0;
  display: flex;
  flex-direction: column;

  h3,
  span {
    margin-left: 1em;
    margin-right: 1em;
  }

  span {
    font-size: 100%;
    display: block;
  }
}

.sudoku {
  h3 {
    text-align: center;
  }

  .number-grid {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;

    .number {
      padding: var(--cell-padding);
      min-width: 30px;
      min-height: 30px;

      text-align: center;
      color: #1f3a93;
      font-weight: bold;
      border: 1px solid lightgray;
      border-radius: 4px;

      &:hover {
        background-color: rgba(147, 191, 238, 0.438);
      }
    }

    .highlight {
      position: absolute;
      min-width: 30px;
      min-height: 30px;
      background-color: rgba(131, 131, 211, 0.404);
    }
  }

  .reset {
    padding: 20px;
    background-color: rgb(216, 140, 40);
    cursor: pointer;
  }

  .sudoku-container {
    border: 1.5px solid rgb(63, 62, 62);

    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: transparent;

      &:nth-child(3n) {
        border-bottom: 1px solid rgb(87, 86, 86);
      }

      .col {
        min-width: var(--cell-min-size);
        min-height: var(--cell-min-size);
        max-width: var(--cell-min-size);
        max-height: var(--cell-min-size);
        overflow: hidden;
        position: relative;
        background-color: transparent;

        .cell {
          padding: var(--cell-padding);
          // min-width: var(--cell-min-size);
          // min-height: var(--cell-min-size);
          // max-width: var(--cell-min-size);
          // max-height: var(--cell-min-size);
          width: (100% - var(--cell-padding));
          height: (100% - var(--cell-padding));

          text-align: center;
          font-size: var(--font-size-sudoku);
          background-color: transparent;

          &:hover {
            background-color: rgba(147, 191, 238, 0.438);
          }
          &:nth-child(3n) {
            border-right: 1px solid rgb(87, 86, 86);
          }
        }
      }
    }
  }

  .Active {
    padding: var(--cell-padding);
    width: var(--cell-active-size);
    height: var(--cell-active-size);

    position: absolute;
    background-color: $cell-bkgc;
  }
  .Active-Nearby {
    padding: var(--cell-padding);
    width: var(--cell-active-size);
    height: var(--cell-active-size);

    position: absolute;
    background-color: rgba(129, 143, 219, 0.192);
  }
}
