<div
  [@loadingPage]="isOpen ? 'open' : 'closed'"
  class="open-close-container"
  (click)="toggle()"
>
  <!-- <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p> -->
  <div>Sudoku</div>
</div>

<div class="divider"></div>

<div *ngIf="!isOpen" class="console" style="display: none;">
  <h3>Console</h3>
  <span>Control: {{ currentControl }} </span>
  <span>Cell: [{{ currentCell.row }}, {{ currentCell.col }}] </span>
</div>

<div *ngIf="!isOpen" class="sudoku">
  <div class="sudoku-container width-50">
    <div *ngFor="let row of currentGrid?.grid" class="row">
      <div
        *ngFor="let col of row.row"
        (click)="clickCell(col)"
        class="col"
      >
        <ng-container *ngIf="col.id === currentCell.id">
          <div class="Active"></div>
        </ng-container>
        <div class="cell">{{ col.value }}</div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="number-grid">
    <button *ngFor="let number of ControlNumber" class="number" (click)="clickControl(number)">
      {{ number }}
    </button>
  </div>
</div>
