<div
  [@loadingPage]="isOpeningScreen ? 'open' : 'closed'"
  class="open-close-container"
  (click)="toggleStartScreen()"
>
  <!-- <p>The box is now {{ isOpeningScreen ? 'Open' : 'Closed' }}!</p> -->
  <div>Sudoku</div>
</div>

<div class="divider"></div>

<div>
  <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon>
</div>
<div *ngIf="!isOpen" class="console" style="">
  <h3>Console</h3>
  <div>Control: {{ currentControl }} </div>
  <div>Cell: [{{ currentCell.row }}, {{ currentCell.col }}] </div>
</div>

<div *ngIf="!isOpen" class="sudoku">
  <div class="sudoku-container width-50">
    <div *ngFor="let row of currentGrid?.grid" class="row">
      <div
        *ngFor="let col of row.row"
        (click)="updateCurrentCell(col)"
        class="col"
      >
        <ng-container *ngIf="col.row === currentCell.row">
          <div class="Active-Nearby"></div>
        </ng-container>
        <ng-container *ngIf="col.col === currentCell.col">
          <div class="Active-Nearby"></div>
        </ng-container>
        <ng-container *ngIf="col.col === currentCell.col && col.row === currentCell.row">
          <div class="Active"></div>
        </ng-container>
        <div class="cell">{{ col.value }}</div>
        <!-- <div class="cell">{{ col.col }}_{{currentCell.row}}{{currentCell.col}}</div> -->
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="number-grid">
    <div *ngFor="let number of ControlNumber" (click)="updateControlNumber(number)">
      <ng-container *ngIf="number === currentControl">
        <div class="number highlight"></div>
      </ng-container>
      <div class="number"> {{ number }} </div>
    </div>
    <br>
    <div class="reset" (click)="resetGrid()">
      <div> reset grid </div>
    </div>

  </div>
</div>
